
body{
    background-color:whitesmoke;
    color:#003135;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:16px;
}
nav{
    background-color:#024950;
    height:75px;
    display:flex;
    color:#Afdde5;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    position:sticky;
    top:0;
}
nav p{
    font-size: 1.5em;
    font-weight: bold;
}
header{
    margin:auto;
    background-image: linear-gradient(rgba(150, 71, 52, 0.3), rgba(150, 71, 52, 0.3)), url('./resources/lukas-hadrich-wCLCK9LDDjI-unsplash.jpg');
    background-size:cover;
    height:90vh;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
header h1{
    color:#Afdde5;
    font-size:4em;
    text-align: center;

}
.contact{
    cursor:pointer    
}
.contact a{
    text-decoration:none;
    color:#Afdde5;
}
section{
    margin: 0 20px;
}
.aboutme{
    margin:0 20px;
}
.aboutme-content{
    display:flex;
    align-items:center;
    justify-content:space-between;

}
.aboutme-content p{
    margin-right:20px;
}
.profile-picture{
    width:300px;
    border-radius:0.7em;
}
.projects{
    
    border-radius:0.7em;
    margin:20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    


}
.project{
    background-color:#964734;
    width:300px;
    margin:10px;
    text-align: center;
    color:white;
    border-radius:0.7em;
    
}
#popup{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    background-color: #964734;
    color: whitesmoke;
    width: 80%;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    visibility: hidden;
}
.close{
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
input, textarea{
    border-radius: 0.5em;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
}
textarea{
    height: 100px;
}